@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $surface;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding: 1.5rem 2rem;
  border-bottom: 5px solid $primary;
}

.title {
  color: $text;

  font: {
    family: 'Sarabun';
    size: 1.5rem;
    weight: 700;
  }
}

.icon {
  width: 32px;
  height: 32px;
  display: block;
}