@import "variables";

.container {
  padding: 2rem 10%;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $surface;
  color: $text;

  height: 4rem;
  padding: 2rem;
  border-radius: $border-radius;
  margin-bottom: 0.5rem;

  font: {
    family: "Sarabun", sans-serif;
    weight: 500;
    size: 26px;
  }

  letter-spacing: $sarabun-spacing;

  > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    line-height: 0;
  }
}

.addMovement {
  padding: 5px 10px;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $primary-translucent;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font: {
      family: $sarabun;
      weight: 500;
      size: 22px;
    }

    letter-spacing: $sarabun-spacing;
    color: $primary;
  }
}
