@use "variables" as vars;
.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: vars.$text;

    > span {
        margin-bottom: 50px;
        font-size: 30px;
    }

    > div {
        background-color: vars.$surface;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 30px;
        border-radius: vars.$border-radius;
        border: solid 1px vars.$surface-border;
        font-size: 17px;

        > form {
            display: flex;
            flex-direction: column;
            width: 350px;

            > .input {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                > label {
                    margin-bottom: 9px;
                }

                > input {
                    border-radius: 5px;
                    padding: 6px 10px;
                    margin-bottom: 5px;
                    background-color: vars.$background;
                    color: vars.$text;
                    border: solid 1px vars.$surface-border;

                    &:focus {
                        outline: solid 1px vars.$primary-border
                    }
                }

                > span {
                    font-size: 15px;
                    color: vars.$error;
                }
            }
            
            .error {
                border-color: vars.$error !important;
            }

            .message {
                color: vars.$error;
                margin-top: 15px;
            }

            > .button {
                display: flex;
                flex-direction: column;
                align-items: center;

                > button {
                    margin-top: 10px;
                    border-radius: 20px;
                    border: none;
                    font-size: 17px;
                    font-weight: 500;
                    padding: 10px;
                    background-color: vars.$primary;
                    width: 100%;
                    cursor: pointer;
                    color: vars.$background;
                    transition: 0.2s ease-in;

                    &:hover {
                        background-color: vars.$button-hover
                    }
                }

                > span {
                    margin-top: 10px;

                    > a {
                        color: vars.$primary;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }


}

