@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $surface;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding: 2rem 2.5rem;
  border-bottom: 5px solid $primary;

  > a {
    text-decoration: none;
  }

  .title, .subtitle {
    color: $text;
  
    font: {
      family: 'Sarabun';
      size: 1.5rem;
      weight: 700;
    }
  }
  
  .logo {
    display: flex;
    align-items: flex-end;
  }

  > .authLinks {
    display: flex;
    align-items: baseline;
    gap: 10px;
    font: {
      family: $sarabun;
      size: 18px;
      weight: 400;
    }

    span, a, a:visited {
      color: inherit;
      text-decoration: none;
      padding: 8px 15px;
      border-radius: 20px;
    }

    .transparentButton {
      color: $primary !important;
      cursor: pointer;
      transition: ease 0.2s;
      &:hover {
        background-color: rgba($primary, 0.1);
      } 
    }

    .solidButton {
      background-color: $primary;
      cursor: pointer;
      transition: ease 0.2s;
      &:hover {
        background-color: $button-hover;
      }
    }
  }
}