@import "variables";

.section {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  background-color: $surface;

  border-radius: $border-radius;
  padding: 0 32px;
  margin-bottom: 0.5rem;

  letter-spacing: $sarabun-spacing;
  color: $text;

  font: {
    family: "Sarabun", sans-serif;
    weight: 500;
    size: 24px;
  }
}

.sectionPart {
  display: flex;
  align-items: center;

  &:last-child {
    margin-left: auto;
  }
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 17px 0 0 0;
  height: 48px;
}

.variations {
  width: 100%;

  &:empty {
    padding: 17px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px 0 2rem 0;
  }

  @media (min-width: $mobile-width) {
    display: grid;
    grid-template-columns: min-content min-content min-content auto min-content min-content;  
    gap: 0px 20px;
    padding: 5px 0 1rem 1.5rem;
  }
}

.sectionPart input {
  max-width: 10em;
  background-color: transparent;
  color: $text;
  border: none;
  border-bottom: solid 3px $primary;
  letter-spacing: $sarabun-spacing;
  font: {
    family: "Sarabun", sans-serif;
    weight: 500;
    size: 24px;
  }

  &:focus {
    outline: none;
  }
}

.addItem {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $primary-translucent;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font: {
      family: $sarabun;
      weight: 500;
      size: 22px;
    }

    letter-spacing: $sarabun-spacing;
    color: $primary;
  }
}

.icon {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: $primary-translucent;
  }
}
