.variation {
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    align-items: center;

    .variationName {
      margin-right: auto;
    }

    .weight {
      margin-right: 20px;
    }
  }
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}