$background: #151515;
$primary: #70EB70;
$primary-translucent: rgba($primary, 0.2);
$primary-dark: #62CF62;
$button-hover: rgba($primary, 0.8);
$surface: #282B28;
$surface-border: #575757;
$text: #EBEDE9;
$error: #ED1518;

$sarabun: "Sarabun", sans-serif;
$sarabun-spacing: 2px;

$border-radius: 15px;